@import "mixin1";

.header_section {
  width: 1180px;
  height: 110px;
  background-color: black;
  margin-top: 30px;
  margin-left: 200px;
  display: block;
  position: relative; 
  
  @include responsive(lg){
	width: 935px;
  }
  
  @include responsive(md){
	width: 660px;
  }
  
  @include responsive(xs){
	width: 300px;
  }
  }

header {
  width: 1160px;
  height: 90px;
  background-color: grey;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute; 
  
  @include responsive(lg){
	width: 915px;
  }
  
  @include responsive(md){
	width: 640px;
  }
  
  @include responsive(xs){
	width: 280px;
  }
  }
  header h1 {
    float: left;
    color: #ffffff;
    font-size: 43px;
    margin-left: 10px;
    margin-top: 20px; 
	
	@include responsive(xs){
	font-size: 20px;
  }}
  header h2 {
    float: right;
    color: #ffffff;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 25px; 
	
	@include responsive(xs){
	font-size: 15px;
	float: left;
	margin-top: 20px;
	margin-left:70px;
  }}

.nav_section{
	width:1180px;
	height:80px;
	margin-top:10px;
	margin-left:200px;
	display:block;
	position:relative;
	background-color:grey;
	
	@include responsive(lg){
	width: 935px;
  }
  
  @include responsive(md){
	width: 660px;
  }
  
  @include responsive(xs){
	width: 300px;
	height: 68px;
  }
}

.navbar{
	width:1160px;
	margin-left:10px;
	margin-top:10px;
	position:absolute;
	
	@include responsive(lg){
	width: 915px;
  }
  
  @include responsive(md){
	width: 640px;
  }
  
  @include responsive(xs){
	width: 280px;
  }
}

.navbar-brand{
	margin-left:10px;
	font-weight:bold;
	font-size:30px;
	
}

.navbar-nav{
	margin-left:20px;
	
	@include responsive(xs){
	font-size: 11px;
  }
}

.container {
  margin-top: 10px;
  margin-left: 194px;
}

.footer_section {
  width: 1180px;
  height: 40px;
  background: gray;
  margin-top: 10px;
  margin-left: 200px;
  position: relative;
  border-radius: 5px; }

footer {
  text-align: center;
  width: 1160px;
  color: black;
  background: darkgray;
  margin-top: 8px;
  margin-left: 10px;
  position: absolute;
  border-radius: 5px; }


